@tailwind base;
@tailwind components;
@tailwind utilities;

.img-cover {
    margin-bottom: 2rem;
}

.post-header {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--vp-c-border);
}

.post-title, .post-title a {
    font-weight: 600;
    color: white;
}

.post-date {
    font-weight: 600;
    color: var(--vp-c-text-2);
}

.post-authors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // gap: 1.25rem;
    > :not([hidden]):not(:last-child) {
        margin-right: 1.25rem;
    }
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    > :not([hidden]) ~ :not([hidden]) {
        margin-left: 0.5rem;
    }
    img, .avatar-placeholder {
        width: 2rem;
        height: 2rem;
        border-radius: 9999px;
    }
}

.VPDoc main {
    figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        img {
            margin: auto;
        }
        figcaption {
            margin-top: 0.5rem;
            color: var(--vp-c-text-2);
        }
    }
}

@media (min-width: 1600px) {
    .VPDoc:not(.has-sidebar) {
        .container {
            max-width: 1440px !important;
        }

        .content {
            max-width: 960px !important;
        }
    }
}

.VPNavBarTitle .title {
    font-size: 20px;
}

.VPDoc {
    --vp-font-family-base: 'Baskerville', 'Cambria', 'Garamond', 'Bogart', 'Times New Roman', Times, serif;
    font-family: var(--vp-font-family-base);
}

html, body {
    font-size: 14pt;
}
